
# Do not upload jar libraries
deploy/jar_libraries/*.jar

# Jupyiter Notebooks
.ipynb_checkpoints
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# Environments
.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.Trash-10000/info/url-connection-client-2.17.161.jar.trashinfo
.Trash-10000/info/tips-Copy.csv.trashinfo
.Trash-10000/info/readme.MD.trashinfo
.Trash-10000/info/iceberg-spark-runtime-3.5_2.12-1.7.1.jar.trashinfo
.Trash-10000/info/download_libs.sh.trashinfo
.Trash-10000/info/bundle-2.17.161.jar.trashinfo
.Trash-10000/files/url-connection-client-2.17.161.jar
.Trash-10000/files/tips-Copy.csv
.Trash-10000/files/readme.MD
.Trash-10000/files/iceberg-spark-runtime-3.5_2.12-1.7.1.jar
.Trash-10000/files/bundle-2.17.161.jar
.ipynb_checkpoints/configure_iceberg_glue-checkpoint.sh
.ipynb_checkpoints/sample_spark_preprocesing-checkpoint.ipynb
.ipynb_checkpoints/sample_spark_preprocesing-checkpoint.ipynb
.ipynb_checkpoints/sample_spark_preprocesing-checkpoint.ipynb
.ipynb_checkpoints/sample_spark_preprocesing-checkpoint.ipynb
